body {
  background: #F6FFFC;
  font-family: Arial;
}

.card {
  width: 300px;
  margin: 120px auto;
  background: white;
  padding: 20px;
  border-radius: 12px;
}

input, button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
}